<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android'
          package='com.joshruesch.simswitcher'>

  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <application>
    <activity android:name=".PermissionActivity" />
    <service
     android:name=".QSIntentService"
     android:icon="@drawable/sim"
     android:label="Sim Switcher"
     android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
       <intent-filter>
         <action android:name="android.service.quicksettings.action.QS_TILE" />
       </intent-filter>
    </service>
 </application>
</manifest>
